<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Current Openings</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="../https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>
<meta name="description" content="Siltek Corporation is a leading Global Software Development and IT Consulting Services Company, offering an array of customized IT related solutions and services to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.">
<meta name="keywords" content="US IT jobs,Corp-to-corp,IT recruiter,Visa Suppliers,siltek,siltek corporation,andover,MA,New Hampshire,India,Panjagutta,Kantisikhara Complex,prasad reddy dinasarapu,">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object188838799" data-left="95.08%"></div>
<div class="Siltek-object2102604941" data-left="1.71%"></div>
<div class="Siltek-object1821302184" data-left="79.81%"></div>

            </div>




                        
                    
</header>
<div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="active">HOME</a></li><li><a href="/aboutus/about_us">ABOUT US</a><ul><li><a href="/aboutus/visionmissionvalues">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/services/services">SERVICES</a><ul><li><a href="/services/software_development">Software Development</a></li><li><a href="/services/staff_augmentation">Staff Augmentation</a></li><li><a href="/services/bpo">BPO</a></li></ul></li><li><a href="/products/products">PRODUCTS</a></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a><ul><li><a href="/careers/employment_benefits">Employement Benefits</a></li><li><a href="/careers/current_openings">Current Openings</a></li></ul></li><li><a href="/contactus/contact_us">CONTACT US</a></li></ul> 
        </div>
    </nav>
<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><img width="932" height="322" alt=""  src="../assets/current%20openings%20banner.jpg"><br>
<p><img width="185" height="28" alt=""  src="../assets/current%20openings.jpg"><span style="color: rgb(34, 34, 34); font-family: arial, sans-serif;"><br></span></p>
<p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :&nbsp;</span></b></span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-weight: bold;">Technical Recruiter<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location: Londonderry, NH</span></b></span><br><span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; font-weight: normal;">&nbsp;</span><br></span></p><p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; background-color: rgb(255, 255, 255); text-align: justify;"><u></u></p>
<p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Develops, manages and coordinates all recruiting and hiring activities. Perform searches for qualified technical candidates according to relevant job criteria using computer databases, networking, internet recruiting resources, cold calls, media, recruiting firms, and employee referrals. Review resumes and coordinate interviews as needed. Interview and screen applicants and make recommendations as to hiring. Provide weekly, monthly recruiting/hiring activity reports to senior management as required.</span><u></u><u></u></p>
<p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; background-color: rgb(255, 255, 255); text-align: justify;"><u></u>&nbsp;<u></u></p>
<p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires a minimum of a Bachelor’s degree or equivalent education in Computer Science, Engineering, Information Systems or a closely related quantitative field</span><u></u><u></u></p>
<p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7, Londonderry, NH 03053.<br><br></span></p>
<p class="MsoNormal" style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job
Title : &nbsp;Senior Technical Recruiter<br></span></b><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp;
Londonderry, NH</span></b></p>

<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Prospect, identify, and interview new and existing
candidates. Source and screen potential IT candidates for contract, contract-to-
hire and permanent openings with our clients; Will utilize broad knowledge of
programming languages, web technologies, software development process and
emerging technologies. Work with enterprise level candidates; Participate in
special projects/recruiting initiatives, including assessment of best practices
in interviewing techniques, leveraging of internal sources of talent and
identification of top performers for senior level openings; Use various social
media resources to attract and identify candidates - including networks,
LinkedIn, Twitter, Facebook, job boards, user groups and others as needed; Will
be responsible for qualifying candidates, negotiating terms and compensation,
perform due-diligence including background screenings, reference checks,
facilitating drug testing, and managing candidates expectations and employee
satisfaction; Will arrange benefits, compensation, employment types, and
utilize knowledge of OPT, CPT, C2C, W2, 1099, EAD, GC and Citizens; Articulate
in writing a plan with deliverables, timelines and a formal tracking
process.&nbsp;</span></p>

<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Requires:&nbsp; Bachelor’s Degree in Business
Management or Administration or related field along with five years of
experience as a Technical Recruiter</span><br></p>

<p class="MsoNormal" style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Must have Bachelor’s Degree or foreign equivalent in
Business Management or Business Administration or related field along with five
years experience as a Technical Recruiter</span></p>

<p style="text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Send resumes to: Human Resources, Siltek Corporation,
1B Commons Drive, Suite 7, Londonderry, NH 03053.</span><br></p><p style="background-color: rgb(255, 255, 255);">
<span style="font-weight: bold; color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 15px;"></span><span style="font-family: Arial;"><span style="background-color: rgb(255, 255, 255); color: rgb(59, 68, 68);"><span style="font-variant: small-caps; color: black;"><span style="font-size: 18px; font-family: arial, Arial, 'Arial Unicode MS', Helvetica, sans-serif;"></span><span style="color: rgb(54, 71, 73);"></span></span></span></span></p><p style="background-color: rgb(255, 255, 255);"><span style="font-weight: bold;"><br></span><span style="font-size: 13px; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; color: rgb(59, 68, 68);"></span></p><p style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Programmer Analyst<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br><br><span style="font-size: 13px; font-weight: normal;">Study, Analysis, Design, Development, Implementation and Maintenance of Advanced Software applications in Web Development, Client/Server and Multi-Tier environments using&nbsp;&nbsp; Informatica Power Center 8.x/1.x, Informatica Power Exchange 5.x, PeopleSoft 8.44 (Accounts Receivables, Accounts Payable, General Ledger, Billing, Asset Management), Oracle EBS R12(Accounts Receivables, Accounts Payable, General Ledger, Fixed Assets, Project Accounting), HP Quality Center, WinRunner6.5/7.0, Load Runner 7.1/7.6, Quick Test Pro 6.0/6.5, DB2 UDB 9.x/8.x/7.x (BCU configuration), DB2 Z/OS 9.x, Oracle 10g/9i/8i/8.x, IBM AIX 5.x, IBM Mainframes, ESP Scheduler, Sun Solaris UNIX, MS SQL Server 2005, SQL, UNIX, ASP, BEA Weblogic 6x, PL SQL, Designer 2000 release2.1, Developer 2000 Release 2.1(Forms 5.0, Reports 3.0, Graphs3.0), MA Access,&nbsp;PeopleCode,&nbsp;Developer 2000, Metadata Manager, Rapid SQL, TOAD, DB Visualiser, Erwin 4.1,&nbsp; Designer 2000, Teradata SQL Assistant,&nbsp; OBIEE Financial Analytics, Hyperion Essbase SmartView, Crystal reports, Business Objects 6.0/ 5.1.8, Cognos 8.x,&nbsp;Visual Basic 6.0, HTML, Visual Source Safe, MS Excel<b><span style="font-size: 13px;">,</span></b>&nbsp;Windows 95/98/2000/NT/XP and MS-DOS. Certifications in PMP, Six Sigma Green Belt</span><br></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires: &nbsp;Bachelors or equivalent in Instrumentation Engineering or other related field.<br>
<span style="text-align: left; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7, Londonderry, NH 03053</span></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><br><span style="text-align: left;"><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;</span><span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Software Quality Assurance Engineer<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br></span><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Develop, Customize, Create and Execute test cases and test scripts. Responsible for gathering and analyzing business and technical requirements, develop and execute multiple forms of tests over the course of the development process. Resolve application issues using WinRunner 8.2/ 7.5,&nbsp; LoadRunner, QTP 9.5, TestDirector 7.6, Quality Center, Hammer (VRU), VSS, Rational Clear Case, HTML, XML, ASP3.0, Oracle8.0/7.3, SQL Server, DB2, C, C++, Visual Basic 6.0,&nbsp; .Net, Java1.2, CORBA, JavaScript, JSP, ASP, Mainframe, DB2, Flex, VC++, ActiveX, DB2, Orbix3.2, WinRunner6.0, TestTrack1.8, HTML, JavaScript, VBScript, MS Access 2000, Visio, Crystal Reports, Windows XP/ NT, Knowledge of Six Sigma, Mercury ITG, Test Track</span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires: Masters or equivalent in Computer Science Engineering or other related field.<br>
Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7, Londonderry, NH 03053.<br></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><br><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Programmer Analyst<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br><br><span style="font-weight: normal;">Study, Analysis, Design, Development, Implementation and Maintenance of Advanced Software applications in Web Development, Client/Server and Multi-Tier environments using&nbsp; PHP, Perl/CGI, Apache 2.2, ASP.NET, VB.NET, HTML, XHTML, CSS, C#, AJAX,&nbsp; XML, JavaScript, WAMP, XAMPP, DOM, SVN, MYSQL 5.0/<span class="normalchar1" style="font-size: 13px;">4.1</span>, SQL Server&nbsp;<span class="normalchar1" style="font-size: 13px;">2005/2000, Oracle, MS Access,&nbsp;Visual Studio 2005, Crystal Reports,</span>&nbsp;Dreamweaver, Edit Plus,<b>&nbsp;</b>SVN(Subversion),<b>&nbsp;</b>IIS 6.0,&nbsp;<span class="normalchar1" style="font-size: 13px;">Linux, Windows XP</span>&nbsp;and UNIX.</span><br></span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires:&nbsp; Bachelors or equivalent in Computer Science Engineering or other related field plus 3 years’ experience.</span><br>
<span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,</span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Londonderry, NH 03053.</span><br>
<b>&nbsp;</b><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="text-align: left;"><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;</span><span style="font-weight: bold; color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Software Engineer<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Analyze, Design, Develop, Create and Modify Software applications in Web Development, Client/Server and Multi-Tier environments using Ektron CMS400,<b>&nbsp;</b>C#, ASP .NET 3.5/3.0, Visual Studio .NET 3.0/2.0/1.1, ADO.NET, Java Script, IIS 6.0, HTML, CSS, SQL Server 2008/2005/2000, Crystal Reports 9.0/8.0/7.1, VB.NET, PL/SQL, T-SQL, Oracle 9i / 8i, SQL* Plus, Visual Source Safe 6.0, Microsoft Share Point Portal Server 2003, Exchange Server 2003, SSIS, WATIR with Ruby, Quick Test Pro 9.1, Test Director, ClearQuest 2002, DHTML, AJAX, XML Web Services, XML, XSL, CSS, XSLT, XSD, Visual Studio 2008/2005/2003, WCF, WPF, Tortoise SVN, Web Forms, UNIX.</span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires:&nbsp; Masters or equivalent in Computer Science Engineering or other related field.<br></span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,</span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Londonderry, NH 03053.</span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><b></b></p>
<p style="background-color: rgb(255, 255, 255);"><br><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. SAP Basis Administrator<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br></span><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Experience in sizing, installing, upgrading, integrating and optimizing&nbsp; SAP R/3 4.7, 4.6C, 4.6B, 4.5 and 4.0, NETWEAVER 2004s, SRM, EP, BI, XI 3.0/PI 7.0<b><span style="font-size: 13px;">,</span></b>ECC5.0, ECC6.0, BW/BI700, Virsa 5.2, SCM, CRM, ABAP, APO, Oracle 11i/10g/9i/8i/8, MS SQL Server, DB2, MaxDB, MS-Access, NW04s ABAP, &nbsp;Solution Manager, Java, J2EE Engine Configuration, SPAM, SAINT, &amp; JSPM, SSL, RMAN, Data guard, UNIX, WINDOWS NT4, AIX, HP-UX, Solaris9, AS/400. Excellent analytical and problem solving skills and have the ability to research, analyze and resolve SAP production issues. Must have a working knowledge of database configuration, network administration, and change management within an SAP environment. Provide day to day SAP Basis Administration and Support for clients in SAP environments from 4.7 to ECC 6.0</span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires:&nbsp; Masters or equivalent in Computer Science Engineering or other related field.<br></span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,</span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Londonderry, NH 03053.</span></p>
<p style="background-color: rgb(255, 255, 255);"><br><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Programmer Analyst<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br></span><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="font-family: Arial;"><span style="font-size: 18px; color: rgb(0, 0, 0);"><b><span style="font-variant: small-caps;"></span></b></span></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Study, Analysis, Design, Development, Implementation and Maintenance of Advanced Software applications in Web Development, Client/Server and Multi-Tier environments using ASP.NET, VB.NET, C#, ADO.NET, IIS 6.0/5.0, SQL Server 2008, XSLT, Web Services, Siebel, Actuate 7.2, Business Objects, Oracle 10g/9i/8i, VS.NET 2005, UML, XML, Winforms, Teradata, Share Point 2005, Visual Studio 2008, Visual Source Safe, UNIX, Windows Server 2003.</span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires:&nbsp; Bachelors or equivalent in Computer Science Engineering or other related field plus 3 years experience.<br></span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,</span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Londonderry, NH 03053.</span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><b></b></p>
<p style="background-color: rgb(255, 255, 255);"><br><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Programmer Analyst<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Study, Analysis, Design, Development, Implementation and Maintenance of Advanced Software applications in Web Development, Client/Server and Multi-Tier environments using&nbsp; ABAP, SAP FI/CO, SCM, HR/HCM, CRM, PP, PS, SD, MM, QM, BI 7.0, SAP XI SLD, IR &amp; ID (XI 3.0, 7 &amp; 7.1),&nbsp; SAP ECC 6.0/5.0, SAP Workflow, EP 6.0, EDI, BDCs, IDOC, BAPI, BADI, BTE, EEW, DI, BDT, BSP, LSMW,&nbsp; ALV reporting,&nbsp; User Exits, COGNOS, PI 7.0, File/FTP, IDOC, RFC, JDBC, SOAP, EMAIL, HTTP and XI adapters, ccBPM, Mapping Techniques, Smartforms, SAP Scripts, Java Proxies, IS-RETAIL, DATASTAGE, IS Media, Oracle.</span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires:&nbsp; Bachelors or equivalent in Computer Science Engineering or other related field plus 3 years experience.<br></span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,</span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Londonderry, NH 03053.</span></p>
<p style="background-color: rgb(255, 255, 255);"><br><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Software Engineer<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span></span><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Analyze, Design, Develop, Create and Modify Software applications in Web Development, Client/Server and Multi-Tier environments using ASP.NET, VB.NET, C#, Web Services, ADO.NET, UML, XML, XML Web Services, CSS, XSL, XSLT, XSD, SOAP, VBScript, Java, JSP, Servlets, Tomcat, Javascript, CGI-Perl, T-SQL,&nbsp; SQL, Query Analyzer, Enterprise Manager, Visual SourceSafe, PVCS, Xtrareports, SQL Server 2008/2005/2000, Crystal reports 10.0/9.0, VB 6.0, VS.NET 2003, ASP, Winforms, Teradata, Oracle 10g/9i/8i, C, C++, Pro*c, Rational Rose, Visual Studio 2008/2005/2003, SharePoint 2003, SharePoint Portal Server 2003, UNIX, Windows Server 2003/2000, IIS 6.0/5.0.</span></p>
<p style="background-color: rgb(255, 255, 255);"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires: Masters or equivalent in Computer Science Engineering or other related field plus 2 years of experience.<br>
<span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,</span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Londonderry, NH 03053.</span></span></span><br></p>
<p style="background-color: rgb(255, 255, 255);"><br><span style="text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Job Title :</span></b></span>&nbsp;&nbsp;<span style="color: rgb(59, 68, 68); font-weight: bold; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Sr. Software Quality Engineer<br><span style="color: rgb(41, 54, 56); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Location:&nbsp; Londonderry, NH</span></b></span><br></span><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Develop, Customize, Create and Execute test cases and test scripts. Responsible for gathering and analyzing business and technical requirements, develop and execute multiple forms of tests over the course of the development process. Resolve application issues using Clear Quest, Load Runner, QTP 10.0/8.0/6.5, Win Runner 7.x, Mercury Quality Center, Test Director 8.0, .Net, Oracle 11/9i/8i, SQL Server 7.0/6.5, Teradata V2R5/V2R4, DB2UDB, Sybase 12.5.0.912.5, Ab Initio GDE 1.13.15/1.12/1.11, Co&gt;Operating System 2.15/2.13/2.12, Informatica 6.0, Business Objects 6.0/5.0, Crystal Reports 9.0, Crystal Enterprise 9.0, C, C++, COBOL, HTML, Java, JSP, EJB, XML, JCL, Shell Scripting, Web Logic 8.1/7.2/6.0/5.1/5.0, Web Sphere 5.0, Tomcat 4.0, Clear Case,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Win CVS, PVCS, Ab Initio EME, SQL* Loader, WinSQL 4.5, Remedy, TOAD, Putty, Autosys 4.5, DB Artisan 7.0.1, Unix-Sun Solaris 5.8, IBM Redbrick 6.11, Netezza 2.2.1, PeopleSoft, Business Objects 6.0<tt><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">,</span></tt>&nbsp;Windows 2000/NT, Erwin 4.0, Mainframes, IBM MQ Series, OS/390 COBOL, CICS, TSO/ISPF, MVS, VB, SQL Server, Active X controls, UNIX, Capstone.</span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Requires:&nbsp; Masters or equivalent in Computer Science Engineering or other related field.<br></span><span style="color: rgb(59, 68, 68); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Send a copy of resume/response to Human Resources, Siltek Corporation, 1B Commons Drive, Suite 7,Londonderry, NH 03053.</span></p>
<p>                 </p></div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us:</span></p>
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/SILTEK-CORPORATION/95940729140?ref=tn_tnmn" target="_blank"><img width="33" height="34" alt="" src="../assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="33" height="33" alt="" src="../assets/twitter.jpg" class=""></a>&nbsp;<img width="33" height="33" alt=""  src="../assets/in-2.jpg">&nbsp;<img width="32" height="33" alt=""  src="../assets/gplus.jpg"><span style="color: rgb(10, 41, 72); font-size: 10px; font-weight: bold;"><br></span></p>
        <p style="text-align: left;"><span style="color: rgb(10, 41, 72); font-size: 10px; font-weight: bold;"><br></span></p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2013. Siltek Corporation. All Rights Reserved&nbsp;<a href="http://www.siltekcorp.com/"><span style="color: rgb(73, 178, 73);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltekcorp.com/"><span style=" color: #49B249;">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41308112-1', 'siltekcorp.com');
  ga('send', 'pageview');

</script>

</body></html>
