<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Employment Benefits</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="../https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>
<meta name="description" content="Siltek Corporation is a leading Global Software Development and IT Consulting Services Company, offering an array of customized IT related solutions and services to its Clients globally. We provide the adaptability and commitment of a smaller firm combined with the vast experience and profound expertise of a large consultancy. We provide system integration and strategic Software Development right through to implementing IT solutions.">
<meta name="keywords" content="US IT jobs,Corp-to-corp,IT recruiter,Visa Suppliers,siltek,siltek corporation,andover,MA,New Hampshire,India,Panjagutta,Kantisikhara Complex,prasad reddy dinasarapu,">


</head>
<body>
<div id="Siltek-main">
    <div id="Siltek-hmenu-bg" class="Siltek-bar Siltek-nav">
    </div>
<header class="Siltek-header">


    <div class="Siltek-shapes">
<div class="Siltek-object188838799" data-left="95.08%"></div>
<div class="Siltek-object2102604941" data-left="1.71%"></div>
<div class="Siltek-object1821302184" data-left="79.81%"></div>

            </div>




                        
                    
</header>
<div class="Siltek-sheet clearfix">
<nav class="Siltek-nav">
    <div class="Siltek-nav-inner">
    <ul class="Siltek-hmenu"><li><a href="/home/index" class="active">HOME</a></li><li><a href="/aboutus/about_us">ABOUT US</a><ul><li><a href="/aboutus/visionmissionvalues">Vision,Mission &amp; Values</a></li></ul></li><li><a href="/services/services">SERVICES</a><ul><li><a href="/services/software_development">Software Development</a></li><li><a href="/services/staff_augmentation">Staff Augmentation</a></li><li><a href="/services/bpo">BPO</a></li></ul></li><li><a href="/products/products">PRODUCTS</a></li><li><a href="/clients/clients">CLIENTS</a></li><li><a href="/careers/careers">CAREERS</a><ul><li><a href="/careers/employment_benefits">Employement Benefits</a></li><li><a href="/careers/current_openings">Current Openings</a></li></ul></li><li><a href="/contactus/contact_us">CONTACT US</a></li></ul> 
        </div>
    </nav>
<div class="Siltek-layout-wrapper">
                <div class="Siltek-content-layout">
                    <div class="Siltek-content-layout-row">
                        <div class="Siltek-layout-cell Siltek-content"><article class="Siltek-post Siltek-article">
                                
                                                
                <div class="Siltek-postcontent Siltek-postcontent-0 clearfix"><img width="932" height="323" alt=""  src="../assets/employeebenefits_banner.jpg"><br>
<p><img width="220" height="64" alt=""  src="../assets/employement%20benefits%20page%20image.jpg"><br>
<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek acknowledges that diversity of thought and inclusion is essential to the business. Attracting, developing, and retaining the best employees gives Siltek access to innovative ideas that promotes better decision making thereby creating a workforce that reflects our Clients.</span><br></p>
<p style="background-color: rgb(255, 255, 255);"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek is dedicated to taking care of the needs of our employees and their families. We strive to maintain balance between the competing priorities of our employee’s career and personal life by offering various benefit programs</span><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">:</span><br></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">•</span>&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Medical Insurance.</span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Dental Insurance.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Holidays and Vacation.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Paid Time Off.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Relocation allowance/ assistance.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Disability Benefits.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Paid Training / Certification.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Training.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Credit Union Membership.</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-size: 10pt; font-family: Arial, sans-serif;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">H-1B Visa (Immigration Cost).</span></span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><span style="font-size: 13px;">•</span>&nbsp;<span style="font-size: 13px;">Direct Deposit.</span><br></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">•</span>&nbsp;<span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Equal Employment Opportunity.</span><br></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; padding-left: 20px; background-color: rgb(255, 255, 255);"><span style="line-height: 13px; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">•</span>&nbsp;<span style="line-height: 13px; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Employee Referral Program.</span><br></p>
<p class="expanded-spacing" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.0001pt; margin-left: 0in; background-color: rgb(255, 255, 255); text-align: justify;"><br></p>
<p class="expanded-spacing" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.0001pt; margin-left: 0in; background-color: rgb(255, 255, 255); text-align: justify;"><br></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 15px;">Employee Referral Program</span></b></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">It is the Siltek’s Employee Referral Program with more cash bonuses! For this program, simply look out for and recommend qualified job candidates to us be it your friends, family members, colleagues, acquaintances or anyone you think will make an outstanding addition to the Siltek team.</span></p>
<p style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.0001pt; margin-left: 0in; background-color: rgb(255, 255, 255); text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">The first half of this bonus will be processed after the receipt of the first payment from the new client and the second half of the bonus will be processed about 180 days from the candidates start date. The referring employee and the individual who has referred must be an active Siltek employee at the time of the award in order to receive the bonus.</span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">For details regarding Client Referral, please send an Email to&nbsp;<a href="mailto:info@siltekcorp.com" style="color: rgb(82, 108, 111);"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">info@siltekcorp.com</span></a></span></p>
<p class="MsoNormal" style="background-color: rgb(255, 255, 255); text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 15px;">Equal Employment Opportunity</span></b></p>
<p class="MsoListParagraph" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.0001pt; margin-left: 0in; text-align: justify; background-color: white;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">In order to provide equal employment and advancement opportunities to all individuals, employment decisions at Siltek will be based on merit, qualifications, and abilities.&nbsp; Siltek does not discriminate in employment opportunities or practices because of race, color, religion, sex, national origin, age or disability<span style="color: rgb(51, 51, 51); font-size: 13px;">.</span></span></p></div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="Siltek-footer">
  <div class="Siltek-footer-inner">
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 25%">
        <p><a href="http://www.siltekcorp.com/"></a></p>
        <p><a href="http://www.siltekcorp.com/"></a><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p><br></p>
    </div><div class="Siltek-layout-cell" style="width: 25%">
        <p style="text-align: left;"><span style="font-weight: bold; font-size: 18px; font-family: Arial; color: #FFFFFF;">Follow us:</span></p>
        <p style="text-align: left;"><a href="https://www.facebook.com/pages/SILTEK-CORPORATION/95940729140?ref=tn_tnmn" target="_blank"><img width="33" height="34" alt="" src="../assets/facebook.jpg" class=""></a>&nbsp;<a href="https://twitter.com/siltekcorp" target="_blank"><img width="33" height="33" alt="" src="../assets/twitter.jpg" class=""></a>&nbsp;<img width="33" height="33" alt=""  src="../assets/in-2.jpg">&nbsp;<img width="32" height="33" alt=""  src="../assets/gplus.jpg"><span style="color: rgb(10, 41, 72); font-size: 10px; font-weight: bold;"><br></span></p>
        <p style="text-align: left;"><span style="color: rgb(10, 41, 72); font-size: 10px; font-weight: bold;"><br></span></p>
    </div>
    </div>
</div>
<div class="Siltek-content-layout">
    <div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell" style="width: 100%">
        <p>Copyright © 2013. Siltek Corporation. All Rights Reserved&nbsp;<a href="http://www.siltekcorp.com/"><span style="color: rgb(73, 178, 73);">Terms of use</span></a>&nbsp;|<span style="color: #000000;">&nbsp;</span><a href="http://www.siltekcorp.com/"><span style=" color: #49B249;">Privacy Policy</span></a><br></p>
    </div>
    </div>
</div>

  </div>
</footer>

</div>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41308112-1', 'siltekcorp.com');
  ga('send', 'pageview');

</script>

</body></html>
